@font-face {
  font-family: satoshi;
  src: url(./Satoshi-Light.woff);
}
@font-face {
  font-family: roboto;
  src: url(./roboto_mono.woff2);
}
@font-face {
  font-family: chillax;
  src: url(./Chillax-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  color: #fafafa;
}
