@font-face {
  font-family: chillax;
  src: url(./Chillax-Regular.woff);
}
@font-face {
  font-family: roboto;
  src: url(./roboto_mono.woff2);
}
@font-face {
  font-family: satoshi;
  src: url(./Satoshi-Light.woff);
}
@mixin flexBox($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #121212;
  color: #fafafa;
}
nav,
#banner,
#counters,
#philosophy,
#vision,
#team {
  max-width: 1900px;
}
main {
  width: 100%;
  @include flexBox(1rem);
  align-items: center;
  padding: 1rem;
  nav {
    height: 8.5vh;
    width: 100%;
    font-family: chillax;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #navBtns {
      width: 50%;
      height: 100%;
      display: flex;
      gap: 0.5rem;
      #cart {
        width: 50%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.875rem;
        font-family: roboto;
        font-weight: 400;
        letter-spacing: 1px;
      }
      #menu {
        width: 50%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 2.5rem;
          font-weight: 200;
        }
      }
    }
  }
  #banner {
    width: 100%;
    @include flexBox(0.7rem);
    #top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    #bottom {
      width: 100%;
      background-color: #1e1e1e;
      @include flexBox(4rem);
      border-radius: 0.7rem;
      padding: 1.75rem;
      p {
        text-transform: uppercase;
        font-family: roboto;
        font-size: 0.88rem;
        letter-spacing: 1px;
      }
      #textWrapper {
        width: 100%;
        @include flexBox(0.7rem);
        h1 {
          font-size: 2.25rem;
          font-family: chillax;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 120%;
          color: #f4f2ed;
          letter-spacing: 1px;
        }
        p {
          letter-spacing: 1px;
          font-family: satoshi;
          font-size: 1.25rem;
          text-transform: none;
          color: rgba(244, 242, 237, 0.6);
          line-height: 160%;
          padding-bottom: 17px;
        }
        button {
          cursor: pointer;
          width: fit-content;
          font-family: roboto;
          font-size: 0.875rem;
          background-color: transparent;
          text-transform: uppercase;
          border: none;
          line-height: 160%;
          color: rgb(244, 242, 237);
          letter-spacing: 1px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 0.8rem;
          i {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.15);
            font-size: 1rem;
            @include flexBox();
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  #counters {
    width: 100%;
    @include flexBox(2.5rem);
    padding: 2rem 1rem;
    .top,
    .bottom {
      display: flex;
      gap: 2rem;
      justify-content: space-around;

      .element {
        text-align: center;
        @include flexBox();
        justify-content: center;
        small {
          font-size: 0.875rem;
          font-family: roboto;
          color: rgba(244, 242, 237, 0.6);
          letter-spacing: 1px;
          line-height: 160%;
        }
        h2 {
          margin-top: 0.5rem;
          font-size: 2.25rem;
          font-family: chillax;
          color: #f4f2ed;
          font-weight: 400;
          line-height: 110%;
        }
      }
    }
  }
  #philosophy {
    width: 100%;
    @include flexBox(0.7rem);
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .bottom {
      width: 100%;
      background-color: #1e1e1e;
      @include flexBox(4rem);
      border-radius: 0.7rem;
      padding: 1.75rem;
      p {
        text-transform: uppercase;
        font-family: roboto;
        font-size: 0.88rem;
        letter-spacing: 1px;
      }
      .textWrapper {
        width: 100%;
        @include flexBox(0.7rem);
        h2 {
          font-size: 2rem;
          font-family: chillax;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 120%;
          color: #f4f2ed;
          letter-spacing: 1px;
        }
        .paragraphs {
          @include flexBox(0);
          p {
            letter-spacing: 1px;
            font-family: satoshi;
            font-size: 1rem;
            text-transform: none;
            color: rgba(244, 242, 237, 0.6);
            line-height: 160%;
          }
        }
      }
    }
  }
  #vision {
    width: 100%;
    @include flexBox(0.7rem);
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .bottom {
      width: 100%;
      background-color: #1e1e1e;
      @include flexBox(4rem);
      border-radius: 0.7rem;
      padding: 1.75rem;
      p {
        text-transform: uppercase;
        font-family: roboto;
        font-size: 0.88rem;
        letter-spacing: 1px;
      }
      .textWrapper {
        width: 100%;
        @include flexBox(0.7rem);
        h2 {
          font-size: 2rem;
          font-family: chillax;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 120%;
          color: #f4f2ed;
          letter-spacing: 1px;
        }
        .paragraphs {
          @include flexBox(0);
          p {
            letter-spacing: 1px;
            font-family: satoshi;
            font-size: 1rem;
            text-transform: none;
            color: rgba(244, 242, 237, 0.6);
            line-height: 160%;
          }
        }
      }
    }
  }
  #team {
    width: 100%;
    @include flexBox();
    .text {
      width: 100%;
      h2 {
        padding-inline: 1rem;
        font-size: 2rem;
        font-family: chillax;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 120%;
        color: #f4f2ed;
        letter-spacing: 1px;
      }
      button {
        opacity: 0;
        cursor: pointer;
        width: fit-content;
        font-family: roboto;
        font-size: 0.875rem;
        background-color: transparent;
        border: none;
        line-height: 160%;
        color: rgb(244, 242, 237);
        letter-spacing: 1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        i {
          transform: rotate(-135deg);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.05);
          border: 1px solid rgba(255, 255, 255, 0.15);
          font-size: 1rem;
          @include flexBox();
          justify-content: center;
          align-items: center;
        }
      }
    }
    .profiles {
      width: 100%;
      @include flexBox(1rem);
      .profileCard {
        border-radius: 0.7rem;
        width: 100%;
        padding: 2rem 1rem 1rem 1rem;
        background-position: center;
        background-size: cover;
        aspect-ratio: 1/1;
        @include flexBox();
        justify-content: space-between;
        .top {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          column-gap: 0.5rem;
          button {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(2rem);
            color: rgb(244, 242, 237);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            i {
              font-size: 1rem;
              font-weight: 300;
            }
          }
        }
        .bottom {
          border-radius: 0.35rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem;
          background-color: rgba(255, 255, 255, 0.05);
          border: 1px solid rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(2rem);
          h3 {
            font-family: Chillax, sans-serif;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 1px;
          }
          p {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-family: roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
          }
        }
      }
    }
    .profile1{
      background: url(./team-01.webp);
    }
    .profile2{
      background: url(./team-02.webp);
    }
    .profile3{
      background: url(./team-03.webp);
    }
  }
}

@media (min-width: 1024px) {
  main {
    #banner {
      flex-direction: row;
      height: 48rem;
      #top,
      #bottom {
        width: 50%;
      }
      #top {
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      #bottom {
        justify-content: space-between;
        gap: 5rem;
        padding: 3rem;
        #textWrapper {
          width: 100%;
          h1 {
            font-size: 4rem;
          }
          p {
            padding-bottom: 2.2rem;
          }
        }
      }
    }
    #counters {
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
        .element {
          h2 {
            font-size: 2.8rem;
          }
        }
      }
    }
    #philosophy {
      flex-direction: row-reverse;
      .top,
      .bottom {
        width: 50%;
      }
      .top {
        img {
          height: 41rem;
          object-fit: cover;
          object-position: center;
        }
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;
        .textWrapper {
          h2 {
            font-size: 2.7rem;
          }
          .paragraphs {
            flex-direction: row;
            column-gap: 2rem;
          }
        }
      }
    }
    #vision {
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }
      .top {
        img {
          height: 41rem;
          object-fit: cover;
          object-position: center;
        }
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;
        .textWrapper {
          h2 {
            font-size: 2.65rem;
          }
          .paragraphs {
            flex-direction: row;
            column-gap: 2rem;
          }
        }
      }
    }
    #team{
      .profiles{
        flex-direction: row;
      }
    }
  }
}
