@font-face {
  font-family: chillax;
  src: url(./Chillax-Regular.woff);
}
@font-face {
  font-family: roboto;
  src: url(./roboto_mono.woff2);
}
@font-face {
  font-family: satoshi;
  src: url(./Satoshi-Light.woff);
}
@mixin flexBox($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #121212;
  color: #fafafa;
}
#banner{
  max-width: 1900px;
}
main {
  width: 100%;
  @include flexBox(1rem);
  align-items: center;
  padding: 1rem;
  nav{
    height: 8.5vh;
    width: 100%;
    font-family: chillax;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #navBtns{
      width: 50%;
      height: 100%;
      display: flex;
      gap: 0.5rem;
      #cart{
      width: 50%;
      height: 100%;
      background-color: rgba(255,255,255,.05);
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.875rem;
      font-family: roboto;
      font-weight: 400;
      letter-spacing: 1px;
    }
      #menu{
      width: 50%;
      height: 100%;
      background-color: rgba(255,255,255,.05);
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        font-size: 2.5rem;
        font-weight: 200;
      }
    }
    }
  }
  #banner {
    width: 100%;
    @include flexBox(0.7rem);
    #top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    #bottom{
      width: 100%;
      background-color: #1E1E1E;
      @include flexBox(4rem);
      border-radius: 0.7rem;
      padding: 1.75rem;
      p{
        text-transform: uppercase;
        font-family: roboto;
        font-size: 0.88rem;
        letter-spacing: 1px;
      }
      #textWrapper{
        width: 100%;
        @include flexBox(0.7rem);
        h1{
          font-size: 2.25rem;
          font-family: chillax;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 120%;
          color: #f4f2ed;
          letter-spacing: 1px;
        }
        p{
          letter-spacing: 1px;
          font-family: satoshi;
          font-size: 1.25rem;
          text-transform: none;
          color: rgba(244,242,237,.6);
          line-height: 160%;
          padding-bottom: 17px;
        }
        button{
          cursor: pointer;
          width: fit-content;
          font-family: roboto;
          font-size: 0.875rem;
          background-color: transparent;
          text-transform: uppercase;
          border: none;
          line-height: 160%;
          color: rgb(244, 242, 237);
          letter-spacing: 1px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 0.8rem;
          i{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(255,255,255,.05);
            border: 1px solid rgba(255,255,255,.15);
            font-size: 1rem;
            @include flexBox();
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px){
  main{
    #banner{
      flex-direction: row;
      height: 48rem;
      #top, #bottom{
      width: 50%;
      }
      #top{
        height: 100%;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      #bottom{
        justify-content: space-between;
        gap: 5rem;
        padding: 3rem;
        #textWrapper{
          width: 100%;
          h1{
            font-size: 4rem;
          }
          p{
            padding-bottom: 2.2rem;
          }
        }
      }
    }
  }
}